.Header{
    background-color: green;
    height: 20vh;
    margin-bottom: 1rem;
}
.body{
    background-color: blue;
    width: 70vw;
    margin-right: 1rem;
    height: 80vh;

}
.sidebar{
    background-color: red;
    width: 30vw;
}
.maincontainer{
    display: flex;
}
.footer{
    background-color: yellow;
    height: 20vh;
}